<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Word Counter</title>
</head>
<body>
  <h1>Word Counter</h1>
  <ul>
    @foreach(var Sentence in Model)
    {
      <li>@Sentence.GetName()</li>

    }
  </ul>
  <p><a href="/sentence/new">Add another contact</a></p>
  <form action="/Home/delete" method="post">
    <button type="submit" name="button">Clear All Items</button>
  </form>
</body>
</html>
